{{#mol-project-content}}

<div class="project__main__content">
  {{#description}}
  <p>{{description}}</p>
  {{/description}}

  {{#title}}
  <h2>{{title}}</h2>
  {{/title}}
</div>

{{/mol-project-content}}