{{#org-lets-work}}
<section class="work">
  <!-- <div class="container"> -->
    <div class="work__main">
      <div class="work__main__info col-12 col-md-6 col-lg-6">
        <div class="work__main__info__content">
          <h2>Let’s work
            together.</h2>
          <p>We specialize in design and development for creatives, agencies, </p>
          
        </div>
        <div class="work__main__info__footer d-flex flex-column">
          <a href="#">info@studiomarnell.com</a>
          <a href="#">tel. 762 354 0376</a>
        </div>
        <div class="work__main__info__copyright">
          <p>2011 — Forever © Studio Marnell</p>
        </div>
      </div>
      <div class="work__main__image col-12 col-md-6 col-lg-6"></div>
    </div>
  <!-- </div> -->
</section>
{{/org-lets-work}}