{{#org-marnell-studio}}
<section class="marnell-studio">
  <div class="container">
    <div class="marnell-studio__main">
   {{> ../molecules/marnell-home-title}}
    </div>
  </div>
</section>
{{/org-marnell-studio}}