{{#org-marnell-info}}
<section class="marnell-info">
  <div class="container">
    <div class="marnell-info__content">
      {{> ../molecules/marnell-info-title}}
      <div class="marnell-info__content__description col-8 col-md-8 col-lg-8">
       {{> ../molecules/marnell-info-description}}
      </div>


      <div class="marnell-info__content__menu-block col-2 col-md-2 col-lg-2">
          
          <nav class="main-nav">
            <ul>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      
    </div>
  </div>
</section>
{{/org-marnell-info}}