{{#org-project}}
<section class="project" style="background-image:url(assets/img/sea.jpg);">
  <div class="container">
    <div class="project__main">
      {{> ../molecules/project-content}}
    </div>
  </div>
</section>
{{/org-project}}